* text=auto eol=lf

# Unity writes a space after empty serialized values.
*.unity whitespace=-blank-at-eol
*.prefab whitespace=-blank-at-eol
*.asset whitespace=-blank-at-eol
*.meta whitespace=-blank-at-eol
*.mat whitespace=-blank-at-eol
*.wlt whitespace=-blank-at-eol
